body{
	background-color: #fff;
	color: #819AC2;
	font-family: 'Ubuntu Condensed', sans-serif;
}
#logo{
	margin-top: 20%;
	font-size: 300%;
	text-shadow: 3px 0 10px rgba(0, 0, 0.5);
}
h1{
	text-shadow: 3px 0 10px rgba(0, 0, 0.5);
}