body{
	background-color: #364863;
	color: #819AC2;
	font-family: 'Ubuntu Condensed', sans-serif;
}
#logo{
	margin-top: 20%;
	margin-left: 45%;
	margin-right: 45%;
	font-size: 300%;
	text-shadow: 3px 0 10px rgba(0, 0, 0.5);
}